!!!
%html
  %head
    %title
      McNamara Example App

    %link{ :rel => "stylesheet", :href => "/css/reset.css", :type => "text/css", :media => "all" }
    %link{ :rel => "stylesheet", :href => "/css/style.css", :type => "text/css", :media => "all" }


  %body
    = yield
